{% extends 'base.html.twig' %}

{% block title %}Ingredient{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Mes Ingredients</h1>
        <a href="{{ path('ingredient.new') }}" class=" btn btn-primary">Créer un ingredient</a>
        <div class="count mt-4">
            Il y'a
            {{ ingredients.getTotalItemCount is same as([]) ? '0' : ''}}
            ingredients au total
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>{{ message }} !</strong>
            </div>
        {% endfor %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Numero</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Date de creation</th>
            </tr>
            </thead>
            <tbody>
            {% for ingredient in ingredients %}
            <tr class="table-primary">
                <td>{{ ingredient.id }}</td>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.price }}</td>
                <td>{{ ingredient.createdAt|date('d / m / Y') }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation d-flex justify-content-center mt-4">
            {{ knp_pagination_render(ingredients) }}
        </div>
    </div>
{% endblock %}
